<!-- <nav class="navbar navbar-expand-lg shadow  mb-2 bg-body-tertiary rounded sticky-top " id="navbar">
  <div  class="container-fluid">
    <a class="navbar-brand fs-2" style="color: goldenrod;" href="#">Smart Mart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
  
        <li *ngFor="let roles of headerRoles" class="nav-item">
     
          <a class="nav-link" (click)="navigateTo(roles.path)"> <i class="fa-solid fa-star"></i> {{roles.lable}}</a>
        </li> -->
        
        <!-- <li class="nav-item">
          <button type="button" class="btn  px-4" data-bs-toggle="modal" data-bs-target="#loginModal"
            routerLink="/Login" (click)="call()">
            <i class="fa-solid fa-right-to-bracket"></i> Sign-Out
          </button>
        </li>
        <li class="nav-item">
          Button trigger modal 
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" routerLink="/Addcart">
  Cart {{totalItemNumber}}
</button>
        </li> -->
      <!-- </ul>
   
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div>
  
</div> -->
<nav class="nav">
  <h1>SmartMart</h1>
  <!-- <div class="nav-search">
      <input type="text" placeholder="Search For Products"/>
      <button mat-button>Search</button>
  </div> -->
  <ul>
    <li *ngFor="let roles of headerRoles" class="nav-item">
      <a class="nav-link" (click)="navigateTo(roles.path)"> <i class="fa-solid fa-star"></i> {{roles.lable}}</a>
    </li> 
  </ul>

</nav>

