<form [formGroup]="updateForm" (ngSubmit)="saveData()">
    <div>
      <label for="productCategory">Product Category:</label>
      <input type="text" id="productCategory" formControlName="productCategory">
    </div>
    <div>
      <label for="productPrice">Product Price:</label>
      <input type="text" id="productPrice" formControlName="productPrice">
    </div>
    <div>
      <label for="productAvailableCount">Product Available Count:</label>
      <input type="text" id="productAvailableCount" formControlName="productAvailableCount">
    </div>
    <div>
      <label for="productRating">Product Rating:</label>
      <input type="text" id="productRating" formControlName="productRating">
    </div>
    <div>
      <label for="productStatus">Product Status:</label>
      <input type="text" id="productStatus" formControlName="productStatus">
    </div>
   
  
    <div formGroupName="productDetails">
      <div>
        <label for="productName">Product Name:</label>
        <input type="text" id="productName" formControlName="productName">
      </div>
      <div>
        <label for="manufacturerName">Manufacturer Name:</label>
        <input type="text" id="manufacturerName" formControlName="manufacturerName">
      </div>
      <div>
        <label for="modelNumber">Model Number:</label>
        <input type="text" id="modelNumber" formControlName="modelNumber">
      </div>

      <div formArrayName="productfeatures">
        <div *ngFor="let feature of productfeatures.controls , let i= index" [formGroupName]="i">
         
          <div>
            <label for="productFeatureId">Feature Id:</label>
            <input type="number" id="productFeatureName" formControlName="productFeatureId">
          </div>
          <div>
            <label for="productFeatureName">Feature Name:</label>
            <input type="text" id="productFeatureName" formControlName="productFeatureName">
          </div>
          <div>
            <label for="productFeatureValue">Feature Value:</label>
            <input type="text" id="productFeatureValue" formControlName="productFeatureValue">
          </div> 
          <button type="button" (click)="removeProductFeature(i)">Remove</button>

        </div>
      </div>
    </div>

    <div formArrayName="availableDealers">
      <div>
        <label>Select Dealers</label>
        <select (change)="eventBind($event)" multiple>
          <option value="">Select Dealer</option>
          <option *ngFor="let dealer of dealerList" [value]="dealer.dealerId">

             {{dealer.dealerName}}
          </option>
        </select>
      </div>
      <div>
        <label class="form-label" for="customFile">select photo</label>
        <input type="file" class="form-control" (change)="uploadPhoto($event)"/>
      </div>
    </div>
    <button type="button" (click)="createProductFeature()">Add Product Feature</button>
    <button type="button" (click)="addDealers()">Add Dealer</button>
    <button type="submit">Save</button>
  </form>
  
