<!-- <form [formGroup]="employeeForm" (ngSubmit)="addEmployee()" class="form-inline">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" formControlName="employeeName" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="mobilenumber">MobileNumber:</label>
        <input type="number" formControlName="employeeMobileNumber" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName="employeeEmail" class="form-control" id="email">
      </div>

      <div formGroupName="employeeAddress">
      <div class="form-group">
        <label for="houseNumber">HouseNumber:</label>
        <input type="number" formControlName="houseNumber" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="street">Street:</label>
        <input type="text" formControlName="street" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="area">Area:</label>
        <input type="text" formControlName="area" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" formControlName="city" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="landmark">Landmark:</label>
        <input type="text" formControlName="landmark" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pincode">Pincode:</label>
        <input type="number" formControlName="pincode" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="state">State:</label>
        <input type="text" formControlName="state" class="form-control" id="email">
      </div>
    </div>
    <div formGroupName="employeeUserDetails">
        <div class="form-group">
            <label for="uname">UserName:</label>
            <input type="text" formControlName="userName" class="form-control" id="pwd">
          </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="text" formControlName="password" class="form-control" id="pwd">
    </div>
    <div class="form-group">
        <label for="utype">UserType:</label>
        <input type="text" formControlName="userType" class="form-control" id="pwd">
      </div>
</div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form> -->
  <div class="step-form-container">
    <form [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
      <div *ngIf="currentStep === 1">
       
        <h2>Employee Information</h2>
        <div class="form-group">
          <label for="employeeName">Employee Name</label>
          <input type="text" id="employeeName" formControlName="employeeName" class="form-control">
          <div *ngIf="employee.employeeName.touched && employee.employeeName.invalid" class="error-message">
            Employee Name is required.
          </div>
        </div>
        <div class="form-group">
          <label for="employeeMobileNumber">Mobile Number</label>
          <input type="text" id="employeeMobileNumber" formControlName="employeeMobileNumber" class="form-control">
          <div *ngIf="employee.employeeMobileNumber.touched && employee.employeeMobileNumber.invalid" class="error-message">
            Mobile Number is required.
          </div>
        </div>
        <div class="form-group">
          <label for="employeeEmail">Email</label>
          <input type="email" id="employeeEmail" formControlName="employeeEmail" class="form-control">
          <div *ngIf="employee.employeeEmail.touched && employee.employeeEmail.invalid" class="error-message">
            Email is required.
          </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="next()">Next</button>
      </div>
  
      <div *ngIf="currentStep === 2">
        
        <h2>Employee Address</h2>
        <div formGroupName="employeeAddress">
        <div class="form-group">
          <label for="houseNumber">House Number</label>
          <input type="text" id="houseNumber" formControlName="houseNumber" class="form-control">
          <div *ngIf="employee.employeeAddress.get('houseNumber').touched && employee.employeeAddress.get('houseNumber').invalid" class="error-message">
            House Number is required.
          </div>
        </div>
        <div class="form-group">
          <label for="street">Street</label>
          <input type="text" id="street" formControlName="street" class="form-control">
          <div *ngIf="employee.employeeAddress.get('street').touched && employee.employeeAddress.get('street').invalid" class="error-message">
            Street is required.
          </div>
        </div>
        <div class="form-group">
          <label for="area">Area</label>
          <input type="text" id="area" formControlName="area" class="form-control">
        
          <div *ngIf="employee.employeeAddress.get('area').touched && employee.employeeAddress.get('area').invalid" class="error-message">
            Area is required.
          </div>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" id="city" formControlName="city" class="form-control">
          <div *ngIf="employee.employeeAddress.get('city').touched && employee.employeeAddress.get('city').invalid" class="error-message">
            City is required.
          </div>
        </div>
        <div class="form-group">
          <label for="landmark">Landmark</label>
          <input type="text" id="landmark" formControlName="landmark" class="form-control">
          <div *ngIf="employee.employeeAddress.get('landmark').touched && employee.employeeAddress.get('landmark').invalid" class="error-message">
            Landmark is required.
          </div>
        </div>
        <div class="form-group">
          <label for="pincode">Pincode</label>
          <input type="text" id="pincode" formControlName="pincode" class="form-control">
          <div *ngIf="employee.employeeAddress.get('pincode').touched && employee.employeeAddress.get('pincode').invalid" class="error-message">
            Pincode is required.
          </div>
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <input type="text" id="state" formControlName="state" class="form-control">
          <div *ngIf="employee.employeeAddress.get('state').touched && employee.employeeAddress.get('state').invalid" class="error-message">
            State is required.
          </div>
        </div>
      </div>
        <button type="button" class="btn btn-primary" (click)="previous()">Previous</button>
        <button type="button" class="btn btn-primary" (click)="next()">Next</button>
      </div>
  
      <div *ngIf="currentStep === 3">

        <h2>User Details</h2>
        <div formGroupName="employeeUserDetails">
        <div class="form-group">
          <label for="userName">Username</label>
          <input type="text" id="userName" formControlName="userName" class="form-control">
          <div *ngIf="employee.employeeUserDetails.get('userName').touched && employee.employeeUserDetails.get('userName').invalid" class="error-message">
            Username is required.
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" class="form-control">
          <div *ngIf="employee.employeeUserDetails.get('password').touched && employee.employeeUserDetails.get('password').invalid" class="error-message">
            Password is required.
          </div>
        </div>
        <div class="form-group">
          <label for="userType">User Type</label>
          <input type="text" id="userType" formControlName="userType" class="form-control">
          <div *ngIf="employee.employeeUserDetails.get('userType').touched && employee.employeeUserDetails.get('userType').invalid" class="error-message">
            User Type is required.
          </div>
        </div>
      </div>
        <button type="button" class="btn btn-primary" (click)="previous()">Previous</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  
