<!-- 
<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                
   <div class="login-form-container">
  <form [formGroup]="loginForm" (ngSubmit)="getUserDetails()">
  <div>
    <label for="userName">Username</label>
    <input type="text" formControlName="userName">
        Username is required.
   
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" formControlName="password">
   
  </div>
  <button type="submit">Submit</button>
</form>

  <div class="register-link">
    <p>Don't have an account? <a (click)="registerData()">Register</a></p>
  </div>
</div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
 
<div class="login-container">
  <div class="card">
    <div class="card-header">
      <h1>Login</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="getUserDetails()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text"formControlName="userName"  required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password"  required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <div class="register-link">
        <br>
        <p>Don't have an account? <a (click)="registerData()">Register</a></p>
      </div>  
    </div>
  </div>
</div>

