.nav{
    display: flex;
    justify-content: space-between;
}
/* .material-icons {
    position: relative;
  } */
  .search-bar input[type="text"] {
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 3px 0 0 3px;
    width: 300px; /* Adjust the width as needed */
  }
  
  .search-bar button {
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    background-color: #555;
    color: #fff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
  
  
  .material-icons:hover::after {
    content: attr(title);
    position: absolute;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    top: -25px;
    left: -50%;
    transform: translateX(-50%);
  }
  
.nav h1{
    color: rgb(255, 255, 255);
    margin: 0%;
    font-size: 40px;
}
.nav ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
.nav li{
    padding-left: 15px;
    padding-right: 15px;
}
.nav li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.btn-search{
    color: rgb(255, 255, 255);
}
.nav .nav-search
{
    margin-top: 5px;
    flex: 1;
    display: flex;
    margin-left:5% ;
    margin-right:5% ;
}
.nav .nav-search input 
{
flex: 1;
color: rgb(255, 255, 255);
border: 1px solid rgb(0, 0, 0);
height: 35px;
border-right: 0px;
}

.button 
{

color: rgb(255, 255, 255);
border: 1px solid rgb(255, 255, 255);
height: 35.5px;
border-left: 0px;
}
.material-icons{
    margin-top: 10px;
    margin-bottom: 10px;
   
}

  
  .material-icons:hover::after {
    content: attr(title);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    top: -25px;
    left: -50%;
    transform: translateX(-50%);
  }
  .search-bar {
    display: flex;
    width: 220px;
  }
  
  
  .search-bar input[type="text"] {
    padding: 10px; /* Increase the padding */
    font-size: 16px; /* Increase the font size */
    border: none;
    border-radius: 3px 0 0 3px;
    
  }
  