
<div class="search-bar">
  <input type="text" [(ngModel)]="productName" placeholder="Search By Name..." class="search-input">
  <button type="button" (click)="searchByName()" class="search-button">Search</button>
</div>
<form action="" >

<div class="products mb-5 " id="Products">
  <!-- <h1>Products</h1> -->
  <div class="box">
    <div *ngFor="let product of productList">
    <div class="card">
      <!-- <div class="small_card">
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-share"></i>
      </div> -->
      <div class="image">
        <!-- <img src="assets/imgs/shoes7.png"> -->
        <a (click)="getSingleproduct(product)"> <img [src]="'data:image/jpeg;base64,'+product.productPhoto" height="150"></a>

      </div>

      <div class="products_text">
        <h2>{{product.productDetails.productName}}</h2>
        <p>
          {{product.productStatus}}
        </p>
        <h3>&#8377;{{product.productPrice}}</h3>
        <div class="products_star">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star-half-stroke"></i>
        </div>
        <a href="#" class="btn">Add To Cart</a>
        &nbsp;
        <a routerLink="/Order" class="btn">Buy</a>
      </div>

    </div>
  </div>
  </div>
</div>

</form>





<!--footer info -->

<div class="contanier-fluid mt-5" id="login">

  <div class="d-flex bg-light ">
    <div class="me-auto p-2 ms-5">
      <a class="navbar-brand  ms-5" href="#" id="logo">S-Creation<span style="color: red;font: bold;">.</span></a>
    </div>
    <div class="me-1 p-2 me-2"><a href="#" class=""><i class="fa-brands fa-facebook"></i></a></div>
    <div class="p-2 me-2"><a href="#" class=""><i class="fa-brands fa-twitter"></i></a></div>
    <div class="p-2 me-2"><a href="#" class=""><i class="fa-brands fa-instagram"></i></a></div>
    <div class="p-2 me-2"><a href="#" class=""><i class="fa-solid fa-magnifying-glass"></i></a></div>
    <div class="p-2 me-2"><a href="#" class=""><i class="fa-solid fa-cart-shopping"></i></a></div>
  </div>

  <div class="container-fluid p-5 bg-dark">
    <div class="row">
      <div class="col-3 text-light">
        <p>PAYMENT METHOD</p>
        <hr class="divider">
        <div class="fs-5">
          <i class="fa-brands fa-cc-visa"></i>&nbsp;
          <i class="fa-solid fa-credit-card"></i>&nbsp;
          <i class="fa-brands fa-cc-paypal"></i>&nbsp;
          <i class="fa-solid fa-rupiah-sign"></i>

        </div>

      </div>
      <div class="col-3 text-light">
        <p>The Company</p>
        <hr class="divider">
        <div class="row">
          <div class="col-6">
            <p>About Us</p>
            <p>Blog</p>
            <p> Delivery info</p>
            <p></p>
          </div>
          <div class="col-6">
            <p>Careers</p>
            <p>Our Store</p>
            <p>Team</p>
          </div>
        </div>
      </div>
      <div class="col-3 text-light">
        <p>More Information</p>
        <hr class="divider">
        <div class="row">
          <div class="col-6">
            <p>Owners</p>
            <p>Contact</p>
            <p>FAQ's</p>
            <p></p>
          </div>
          <div class="col-6">
            <p>Careers</p>
            <p>Our Store</p>
            <p>Team</p>
          </div>
        </div>
      </div>
      <div class="col-3 text-light">
        <p>Looking Good shoes</p>
        <hr class="divider">
        This site shows you your best shoes and best quality pair
        thanks for vitis our site and enjoy your shopping..
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
  

   
